* {
	margin: 0;
	padding: 0;
}
.container{
	margin: 20px 10px 0 10px;
	padding: 10px 5px;
	border-radius: 20px;
}
.Nav-ali{
	width: 100%;
	height: 100px;
	background-color: rgb(12,52,61);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 20px;
	display: flex;
	align-items: center;
	/* justify-content: center; */
}
.Nav-ali img{
	width: 80px;
	margin-left: 15px;
}
.Nav-ali h3{
	font-family: "微软雅黑";
	font-weight: bold;
	color: white;
	margin-top: 10px;
	margin-left: 10px;
}
.Data-Ali{
	margin: 20px 10px 10px;
}
.leading-line{
	width: 100%;
	height: 50px;
	display: flex;
	background-color:white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 20px;
}
.leading-line img{
	width: 40px;
	height: 40px;
	position: relative;
	left: 10px;
	top: -10px;
}
.leading-line p{
	margin-left: 15px;
	line-height: 50px;
	font-family:"微软雅黑";
	font-weight: bold;
	font-size: 22px;
}
.Ali-top{
	margin: 10px !important;
}
.Ali-wh{
	width: 100%;
	height: 130px;
	padding: 5px;
}
.Ali-nr{
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to left, rgba(12,52,61,.7), rgba(12,52,61,1));
	border-radius: 20px;
	transition: box-shadow 1s;
}
.Ali-nr:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
